n8n-workflow.json
{
  "name": "IT Support Bot - GPT-4o-mini",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "it-support",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "node-webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $vars.OPENAI_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  \"model\": \"gpt-4o-mini\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"あなたは社内ITサポートアシスタントです。社員からのIT関連の質問に対して、具体的な手順を番号付きリストで、わかりやすく簡潔に日本語で回答してください。解決できない場合はSEへの問い合わせを案内してください。\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": $('Webhook').item.json.body.question\n    }\n  ],\n  \"temperature\": 0.3,\n  \"max_tokens\": 600\n}) }}",
        "options": {}
      },
      "id": "node-openai",
      "name": "OpenAI GPT-4o-mini",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [500, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"answer\": $json.choices[0].message.content } }}",
        "options": {}
      },
      "id": "node-respond",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [760, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [{ "node": "OpenAI GPT-4o-mini", "type": "main", "index": 0 }]
      ]
    },
    "OpenAI GPT-4o-mini": {
      "main": [
        [{ "node": "Respond to Webhook", "type": "main", "index": 0 }]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  }
}
